<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-light" href="home"><b>Vien Health</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Consult</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
        </ul>
        <a class="btn-teal btn rounded-pill px-4 ml-lg-4 bg-light justify-content-end" href="/register">
            Register<i class="fas fa-arrow-right ml-1"></i>
        </a>
    </div>
</nav>